In [ ]:
mport pandas as pd
import psycopg2
from psycopg2 import sql

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

db_username = 'max_admin'
db_password = 'adm1n'
db_host = 'localhost:8080'
db_name = 'database_27'

In [ ]:
excel_file = 'buildings.xlsx'
df = pd.read_excel(excel_file)

df = df[['jk_name', 'jk_id', 'korpus_id', 'square', 'price']]

df = df[(df['korpus_id'] == 'K0003901') & (df['korpus_id'] == '5')]

df['square'] = df['square'].astype(float)
df['price'] = df['price'].astype(float)

In [ ]:
connection = psycopg2.connect(
    user=db_username,
    password=db_password,
    host=db_host,
    database=db_name
)

cursor = connection.cursor()

table_name = 'buildings'
insert_query = sql.SQL('INSERT INTO nf.{table} ({columns}) VALUES ({values})').format(
    table=sql.Identifier(table_name),
    columns=sql.SQL(', ').join(map(sql.Identifier, df.columns)),
    values=sql.SQL(', ').join(sql.Placeholder() * len(df.columns))
)

data_tuples = [tuple(row) for row in df.values]

cursor.executemany(insert_query, data_tuples)
connection.commit()
connection.close()